<!DOCTYPE html>
<html lang="en">
<head>
    <center>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Planet Calculator</title>
</head>
<body>
    <img src='{{api_img}}'>
    <h1>this is where were gonna need to live soon^^</h1>
    <h1> Planets Needed:</h1>
    <p>If everyone lived like you, we would need {{ planets_needed }} planets earth!</p>
    </center
      <link href="style.css" rel="stylesheet" type="text/css" />

</body>
</html>