<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <center>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Signin</title>
</head>
<body>
    <form method="post" action="/">
        <!-- Heading -->
        <h2>Welcome to greeny</h2>
        <h4>
        Log in to your account
        </h4>

        <!-- Subheading -->
        <p >
        Please fill up your information below to sign in.
        </p>

        <!-- Email -->
        <div>
            <label>Email address*</label>
            <div>
                <input type="email"  name="email" id="emailStr" required>
            </div>
        </div>

        <!-- Password -->
        <div>
            <label>Password*</label>
            <div class="input-group">
                <input type="password"  name="password" minlength="6">
            </div>
        </div>
        
        <!-- Button -->
        <div>
            <input type="submit"/>
        </div>
    </form>
    <br>
    <a href="/signup"><button>signup</button></a>

<form method="post" action="/signout">
        <input type="submit" value="Sign Out">
          <link href="style.css" rel="stylesheet" type="text/css" />

    </center>
    </form>

</body>
</html>