
body {
  background-image: url("avo.gif"); 
  background-repeat: no-repeat;
  background-color: #cccccc;
  background-size: cover;
  background-position:  top;
  width: 100%;
  height: 100%;
  font-size: 15px;
  margin: auto;
  align-items: center;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font: italic 1.2em "Fira Sans", serif;
}
button1 {
  border-radius: 5px;
  border-color: white;
  background-position: center;
  font-family: "Times New Roman", Times, serif;
  font : italic 1.2em "Fira Sans", serif;
  text-align: center;
}
.city {
  background-color: white;
  text-align: center;
  color: black;
  border: 4px solid black;
  margin: 50px;
  padding: 40px;
  font-size: 150%;
  align-items: center;
  border-radius: 5px;
  font-family: "Times New Roman", Times, serif;
  font : italic "Fira Sans", serif;
}

.demo-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
p{
  color : white;
  border-radius : 10px;
  text-decoration: center;
  font-size: 40px;
  text-justify: 100px;
  margin-top: 20%;
  padding-left: 50px;
  max-width: 70%;
  font-family: "Times New Roman", Times, serif;
  font : italic "Fira Sans", serif;
}


button{
  border-radius : 10px;
  color : lime;
  display: flex;

}